@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities; 


*{
    font-family: 'Poppins', sans-serif;
}

.menuItemLInk a.active{
    border-bottom: 2px solid #3AA39F;
}

.react-tabs__tab--selected{
    background: black;

    border-radius: 100px;
}
react-tabs__tab--selected:focus{
    background-color: black;
}